<div class="text-left">
  <h2>My Boards</h2>
</div>
<div class="row">
  <% boards.each( function(board) { %>
     <a class="board-link" href="#/boards/<%= board.id  %>">
     <div class="text-center col-xs-3 board-index">
       <span><b><%= board.escape("title") %></b></span>
    </div>
    </a>
  <%  })  %>
  
  <a class="board-link" href="#boards/new">
  <div class="text-center col-xs-3 board-index board-index-new">
  <br />
    <span>Create new board!</span>
  </div>
  </a>
</div>
