<h2>Add a new board</h2>

<div class="">
  <form id="create-board">
    <label for="board-title">Title</label>
    <input type="text" name="board[title]" id="board-title" value="" />

    <input type="submit" class="btn btn-success" value="Create"/>
  </form>
</div>
