<h2 style="color:gainsboro"><%= board.get("title") %> <a href="#list/new"><span class="glyphicon glyphicon-plus" style="font-size:.7em"></span></a></h2>

<% board.lists().each( function(list) { %>
  <div class="list">
     <h4><%= list.escape("title") %></h4>
     <ul>
     <% list.cards().each( function(card) { %>
         <li><%= card.escape("title") %></li>
     <% }) %>
     </ul>
  </div>
<% }) %>

<div id="lists">

</div>
