<button id="new-list-close" class="btn btn-danger pull-right">x</button>
<form id="new-list-form">
  <h4>
    <input id="new-list-title" type="text" name="title" placeholder="New Title" />
  </h4>
  <input id="new-list-create" type="submit" class="btn btn-success pull-center"/>
</form>
